@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');
.container{
  display: flex;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

.sidebar{
  background-color: #F2F3F5;
  height: 100%;
  flex: 1;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_container{
  display: flex;
  margin-top: 20px;
}

.nav{
  list-style-type: none;
  width: 100%;
}

.nav_items{
  font-size: large;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  color: gray;
  padding: 8px 15px;
  width: 100%;
}

.nav_items:hover{
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.order_btn{
  display: flex;
  align-items: center;
  background-color: rgb(54, 140, 206);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.order_btn:hover{
  background-color: rgb(49, 49, 177);
}

.icon{
  margin-right: 5px;
}

.main{
  flex: 7;
}

.top_bar{
  display: flex;
  height: 80px;
  padding: 0 20px;
}

.search_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
  padding: 0 15px;
}

.vertical {
  width: 1.5px;
  height: 100%;
  background-color: black;
}

.to_from_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.to_from_search{
  display: flex;
  flex-direction: column;
}

.logout_container{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tofrom{
  border: none;
  outline: none;
  background-color: #F2F3F5;
  padding: 8px;
  border-radius: 25px;
  font-size: 15px;
  margin-bottom: 2px;
}

.go{
  height: fit-content;
  margin-left: 8px;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgreen;
}

.go:hover{
 background-color: green;
}

.search{
  border: none;
  outline: none;
  background-color: #F2F3F5;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
}

.logout_btn{
  border: 2px solid rgb(54, 140, 206);
  padding: 5px;
  color: rgb(54, 140, 206);
  cursor: pointer;
  border-radius: 2px;
}

.logout_btn:hover{
background-color: rgb(54, 140, 206);
color: white;
}

.order_container{
    height: 100%;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.orderDetails_container{
flex: 2;
/* background-color: rgb(248, 245, 245); */
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    margin-top: 40px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.line{
    margin-top: 5px;
    margin-bottom: 25px;
    height: 1.5px;
}

.field_container{
    padding: 0 12px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.data {
    font-weight: 400;
    color: grey;
}

.value{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}



.cost_container{
    margin: auto 0;
    padding: 30px;
    flex: 3;
    background-color: #F2F3F5;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}

.button_container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_green{
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    padding: 5px 16px;
    font-size: medium;
    cursor: pointer;
    color: black;
    margin-bottom: 2px;
}

.btn_red{
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    padding: 5px 16px;
    font-size: medium;
    cursor: pointer;
    color: black;
}

.btn_green:hover{
    background-color: green;
}

.btn_red:hover{
    background-color: red;
}